@import '../../../styles/settings.scss';
@import '../../../styles/media-queries.scss';

.container {
    font-family: $font-header;
    font-weight: 300;
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    background-color: $color-light; 
    box-shadow: 0px 2px 5px rgba($color-dark, 0.1); 

    .info {
        background-color: $color-dark;
        color: $color-light;
        display: flex;
        padding: 20px;
        justify-content: space-between;
             @include respond-to(big-tablet) {
                justify-content: center;
                font-size: 12px;
            }
        .left {
            @include respond-to(big-tablet) {
                display: none;
                
            }
        }
        .right {
            display: flex;
            justify-content: right;
            @include respond-to(big-tablet) {
                justify-content: center;
            }
            p {
                margin: 0 10px;
            }
            .email {
                @include respond-to(big-tablet) {
                    display: none;
                }
            }
        }      
        p {
            margin: 0;
        }
    }
    .main {
        margin: 5px 25px;
        background-color: $color-light;
        color: $color-dark;
        display: flex;
        padding: 20px;
        justify-content: space-between;
        @include respond-to(small-tablet) {
            justify-content: center;
            padding: 10px;
        }
        
        .logo {
            font-size: 48px;
            padding: 15px 10px;
            align-items: center;
            display: flex;
            font-family: $font-hand;
            @include respond-to(small-tablet) {
                font-size: 32px;
            }
        }
        .nav {
            display: flex;
            list-style-type: none;
            padding: 10px;
            font-size: 24px;
            align-items: center;
            @include respond-to(small-tablet) {
                display: none;
            }
            li {
                padding: 5px 12px;
                .linkActive {
                    color: $color-main;
                }
                a {
                    text-decoration: none;
                }
            }
        }
        .symbols {
            display: flex;
            list-style-type: none;
            padding: 10px 15px;
            font-size: 35px;
            position: relative;
            @include respond-to(small-tablet) {
                font-size: 24px;
            }
            .itemCount {
                position: absolute;
                top: 45px; 
                right: 65px; 
                background-color: $color-main; 
                color: $color-light;
                border-radius: 50%;
                min-width: 20px;
                height: 20px;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            i {
                padding: 10px 15px;
                .linkActive {
                    color: $color-main;
                }
            }
            .navIcon {
                display: none; 

                @include respond-to(small-tablet) {
                    display: block; 
                }
            }
        
            .dropdownMenu {
                display: none; 

                @include respond-to(small-tablet) {
                    display: block; 
                }
                position: absolute;
                top: 100%;
                right: -10px;
                background-color: $color-light;
                border-radius: $radius;
                box-shadow: 0 2px 5px rgba($color-dark, 0.2);
                list-style: none;
                padding: 10px;
                margin: 10px 0 0;
                z-index: 10;
                font-size: 18px;
        
                li {
                    padding: 20px 30px;
                    text-decoration: none;
                    &:hover {
                        background-color: $color-gray;
                    }
                    a {
                        color: $color-dark; // Explicitly set the link color to black
                        text-decoration: none;
            
                        &:hover {
                            color: $color-main; // Optional: Change color on hover
                        }
            
                        // Styling for active link
                        &.active {
                            color: $color-main; // Color for the active link
                        }
                    }
                }
        
                a {
                    text-decoration: none;
                    color: $color-dark;
                    display: block;
                }
            }
        }
    }
}
