@import '../../../styles/settings.scss';
@import '../../../styles/media-queries.scss';

.form {
    display: flex;
    flex-direction: column;
    padding: 3%;
    max-width: 700px; 
    .inputGroupRow {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px; 
    
        .inputGroup {
            flex: 1;
            p {
                font-size: 16px;
                padding-left: 10px;
            }
    
            &:first-child {
                margin-right: 10px; 
            }
        }
    
        @include respond-to(big-tablet) {
            flex-direction: column;
    
            .inputGroup {
                &:first-child {
                    margin-right: 0;
                }
            }
        }
    }

    .inputGroup {
        display: flex;
        flex-direction: column;
        p {
            font-size: 16px;
            padding-left: 10px;
        }
    }

    input {
        padding: 8px 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;

        &:focus {
            outline: none;
            border-color: $color-main;
        }
    }

    .error {
        color: red;
        font-size: 14px;
        margin-top: 5px;
    }

    .buttons {
        display: flex;
        padding: 20px 0;
        margin: 30px 0;
        @include respond-to (small-tablet) {
            flex-direction: column;
        }
        .button {
            padding-right: 20px;
        }
        i {
            padding:0 5px;
        }
    }
}