@import '../../../styles/settings.scss';
@import '../../../styles/media-queries.scss';

.root {
    box-sizing: border-box;
    border-bottom: 1px solid #ccc; 
    .main {
        padding: 0 10px;
        margin: 0 10px;
        display: flex;
        align-items: center;
        @include respond-to (small-tablet) {
            padding: 10px 0;
            margin: 10px 0;
        }
        .product {
            flex: 5;
            display: flex;
            align-items: center;
            @include respond-to (small-tablet) {
                flex: 3;
            }
            .image {
                object-fit: cover;
                left: 0;
                max-width: 120px;
                height: 120px;
                margin: 20px 0 20px 30px;
                @include respond-to (small-tablet ) {
                    display: none;
                }
            }
            .title {
                display: flex;
                padding: 0 30px;
                font-size: 16px;
                line-height: 25px;
                @include respond-to (small-tablet) {
                    font-size: 14px;
                    line-height: 20px;
                    padding: 0 15px;
                }
            }
        }
        .price {
            flex: 1;
        }
        .downPayment {
            flex: 1;
            @include respond-to (small-tablet) {
                padding-left: 15px;
            }
        }
        .amount {
            flex: 3;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .total {
            flex: 2;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .description {
        height: 35px;
        padding: 10px 40px;
        align-items: center;
        margin: 0 20px;
    }
    
}
