@import '../../../styles/settings.scss';
@import '../../../styles/media-queries.scss';
.root {
    position: relative;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-main;
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 1;
    }

    h2 {
        font-size: 28px;
        font-family: $font-body;
        font-weight: 300;
    }
    p {
        font-size: 16px;
        line-height: 24px;
    }

    .image {
        object-fit: cover;
        left: 0;
        width: 100%;
        max-height: 180px;
        margin: 20px 0;
    }
    .button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.3s ease; 
        z-index: 2; 
        @include respond-to(small-tablet) {
            position: static;
            transform: none;
            opacity: 1;
            margin: 10px 0; 
        }
    }
    &:hover {
        &:before {
            opacity: 0.3;
        }

        h2, p, .image {
            opacity: 0.5;
        }

        .button {
            opacity: 1;
            
        }
    }
}
