@import '../../../styles/settings.scss';
@import '../../../styles/media-queries.scss';

.root {
    .slider{
        background-size: cover;
        background-position: center center;
        //background-attachment: fixed;
        height: 300px;
        width: 100%;
        color: $color-light;
        font-family: $font-header;
        h2 {
            font-size: 80px;
            position: relative;
            font-weight: 100;
            left: 15%;
            top: 30%;
            width: 300px;
            @include respond-to (big-tablet) {
                font-size: 50px;
            }
        }
    }
    .categories{
        padding: 10px;
        box-sizing: border-box;
        margin: 20px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ccc; 
        justify-content: center;
        .product {
            flex: 5;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .price {
            flex: 1;
        }
        .downPayment {
            flex: 1;
        }
        .amount {
            flex: 3;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .total {
            flex: 2;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
    }
    .empty {
        margin: 30px;
        padding: 40px;
        align-items: center;
        text-align: center;
    }
    .summery{
        padding: 10px;
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        .blank {
            flex: 9;
        }
        .totalPrice {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .price {
            flex: 2;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
    }
    .buttonSpace {
        display: flex;
        justify-content: right;
        .button {
            display: flex;
            margin: 40px;
        }

    }
}