@import '../../../styles/settings.scss';
@import '../../../styles/media-queries.scss';

.root {
    box-sizing: border-box;
    border-bottom: 1px solid #ccc; 
    .main {
        padding: 10px;
        margin: 20px;
        display: flex;
        align-items: center;
        .product {
            flex: 5;
            display: flex;
            align-items: center;
            .x {
                padding: 0 30px 0 10px;
                display: flex;
                button {
                    background: none;
                    border: none;
                }
            }
            .image {
                object-fit: cover;
                left: 0;
                max-width: 120px;
                height: 120px;
                margin: 20px 0;
                @include respond-to (small-tablet ) {
                    display: none;
                }
            }
            .title {
                display: flex;
                padding: 0 30px;
                font-size: 16px;
                line-height: 25px;
            }
        }
        .price {
            flex: 1;
        }
        .downPayment {
            flex: 1;
        }
        .amount {
            flex: 3;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .total {
            flex: 2;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .description {
        height: 55px;
        padding: 10px;
        align-items: center;
        margin: 0 20px 20px 20px;
        input {
            height: 40px;
            margin: 0 20px 20px 20px;
            padding: 10px;
            align-items: center;
            width: 100%;
            border: 1px solid #ccc;
        }
    }
    
}
