@import '../../../styles/settings.scss';
@import '../../../styles/media-queries.scss';

.root {
    box-sizing: border-box;
    border-bottom: 1px solid #ccc; 
    .main {
        padding: 10px;
        margin: 10px;
        display: flex;
        align-items: center;
        @include respond-to (small-tablet) {
            padding: 0;
        }
        .product {
            flex: 5;
            display: flex;
            align-items: center;
            .x {
                padding: 0 30px 0 10px;
                display: flex;
                @include respond-to (small-tablet) {
                    padding: 0;
                }
                button {
                    color: $color-dark-gray;
                    background: none;
                    border: none;
                    &:hover {
                        color: darken($color: $color-dark-gray, $amount: 12);
                        font-size: larger;
                      }
                    
                    &:active {
                        color: $color-dark;
                    }
                }
            }
            .image {
                object-fit: cover;
                left: 0;
                max-width: 120px;
                height: 120px;
                margin: 20px 0;
                @include respond-to (small-tablet ) {
                    display: none;
                }
            }
            .title {
                display: flex;
                padding: 0 30px;
                font-size: 16px;
                line-height: 25px;
                @include respond-to (small-tablet) {
                    padding: 0 15px;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
        .price {
            flex: 1;
            @include respond-to (small-tablet) {
                display: none;
            }
        }
        .downPayment {
            flex: 1;
            @include respond-to (small-tablet) {
                padding-right: 5px;
            }
        }
        .amount {
            flex: 3;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .total {
            flex: 2;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .description {
        height: 55px;
        padding: 0 10px;
        align-items: center;
        margin: 0 20px 30px 20px;
        input {
            height: 40px;
            margin: 0 10px 30px 20px;
            width: 80%;
            padding: 10px;
            align-items: center;
            border: 1px solid #ccc;
        }
    }
    
}
