@import '../../../styles/settings.scss';
@import '../../../styles/media-queries.scss';


.root {
    display: flex;
    justify-content: center;
    .categories {
        display: flex;
        justify-content: center;
        flex-direction: row;
        @include respond-to (small-tablet) {
            flex-direction: column;
          }
          .button {
            padding: 5px;
          }
    }
}