@import '../../../styles/settings.scss';
@import '../../../styles/media-queries.scss';

.root {
    .grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; 
        margin: 40px;
        align-items: center;
      
        &Item {
          flex: 1; 
          display: flex;
          justify-content: center;
      
          @include respond-to (big-tablet) { 
            flex: 3;
          }
      
        }
      }
    .moreTours {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        .btn {
          background-color: red;
        }
    }
}